### PROJECT ###
/target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class


### STS ###
.apt_generated
.classpath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr